@import 'variables';

.text-primary {
  color: $primary-color !important;
}

.text-secondary {
  color: $secondary-color !important;
}

.text-success {
  color: $success-color !important;
}

.text-danger {
  color: $danger-color !important;
}

.text-warning {
  color: $warning-color !important;
}

.text-dark {
  color: $dark-color !important;
}

.text-muted {
  color: $muted-color !important;
}

.text-white {
  color: $white !important;
}

.bg-primary {
  color: $white !important;
  background: $primary-color !important;
}

.bg-success {
  color: $white !important;
  background: $success-color !important;
}

.bg-danger {
  color: $white !important;
  background: $danger-color !important;
}

.bg-warning {
  background: $warning-color !important;
}

.bg-light {
  background: $light-color !important;
}

.bg-dark {
  color: $white !important;
  background: $dark-color !important;
}

.bg-white {
  background: $white !important;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fs-sm {
  font-size: 0.875rem !important;
}

.fs-md {
  font-size: 1rem !important;
}

.fs-lg {
  font-size: 1.5rem !important;
}

.fs-xl {
  font-size: 2rem !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: $spacing-small !important;
}

.m-2 {
  margin: $spacing-medium !important;
}

.m-3 {
  margin: $spacing-large !important;
}

.m-4 {
  margin: $spacing-xlarge !important;
}

.mt-1 {
  margin-top: $spacing-small !important;
}

.mt-2 {
  margin-top: $spacing-medium !important;
}

.mb-1 {
  margin-bottom: $spacing-small !important;
}

.mb-2 {
  margin-bottom: $spacing-medium !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: $spacing-small !important;
}

.p-2 {
  padding: $spacing-medium !important;
}

.p-3 {
  padding: $spacing-large !important;
}

.p-4 {
  padding: $spacing-xlarge !important;
}

.border {
  border: 1px solid $border-color !important;
}

.border-primary {
  border: 1px solid $primary-color !important;
}

.border-success {
  border: 1px solid $success-color !important;
}

.border-danger {
  border: 1px solid $danger-color !important;
}

.rounded {
  border-radius: $border-radius !important;
}

.shadow {
  box-shadow: $box-shadow !important;
}

.text-center {
  text-align: center !important;
}

.w-100 {
  width: 100% !important;
}